.blog-box {
    border-radius: 8px;
    overflow: hidden;
    background: inherit;
    max-width: 372px;
}

.blog-box-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
    border-radius: 5%;
}

.blog-box-content {
    padding-top: 1.5rem;
    padding-right: 1.5rem;
}

.blog-box-category {
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    color: #555;
    margin-bottom: 1rem;
}

.blog-box-title {
    font-size: 20px;
    font-weight: 700;
    color: var(--First-color);
    margin: 0;
    line-height: 1.4;
}

@media (max-width: 1199px) and (min-width: 810px) {
    .blog-box-content {
        padding: 1rem;
    }
    
    .blog-box-title {
        font-size: 1.1rem;
    }
}

@media (max-width: 810px) {
    .blog-box {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    
    .blog-box-img {
        height: 180px;
    }
    
    .blog-box-category {
        font-size: 0.8rem;
    }
    
    .blog-box-title {
        font-size: 1.1rem;
    }
}