.buttons {
  padding: 3% 7%;
  border: none;
  background-color: #3A7326;
  color: #FFFFFF;
  font-size: 14px;
  border-radius: 10px;
  font-weight: 700;
}

.buttons2 {
  padding: 3% 8%;
  border: 1px solid var(--button-border);
  color: #3A7326;
  background-color: inherit;
  font-size: 14px;
  border-radius: 10px;
  font-weight: 700;
}

/* .buttons:hover {
  background-color: darkgreen;
} */
